# Ignore everything by default.
*

# Add only specific files.
!.gitignore

# ZSH shell config.
!.zshrc

# Setup script to setup this repository to be used in a new machine.
!.home_setup.sh

# Additional setup scripts.
!.zsh_setup.sh
